[Unit]
Description=Starting webhook task executor
After=network.target

[Service]
ExecStart=/bin/sms-redis-webhook
Restart=always
User=your_user
StandardOutput=file:/var/log/sms-redis-webhook/webhook.log
StandardError=file:/var/log/sms-redis-webhook/webhook_err.log

[Install]
WantedBy=multi-user.target
